[Unit]
Description=Redis Writer Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/starwit/rediswriter
ExecStart=/usr/local/bin/rediswriter
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target